@using System.Globalization
@NumberFormatInfo.CurrentInfo.CurrencySymbol
@model ApplicationCore.Models.MovieDetailsResponseModel
@{
    ViewData["Title"] = "Movie Details";
}

<div class="container-fluid bg-dark p-0">
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-2 d-flex flex-row align-items-center px-2">
            <img src="@Model.PosterUrl" class="card-img" alt="movie poster">
        </div>
        <div class="col-md-6 card bg-dark text-white p-0">
            <img src="@Model.BackdropUrl" class="card-img opacity-20" id="movie-bg-img" alt="background image">
            <div class="card-img-overlay py-0 w-75">
                <h4 class="card-title py-0 mb-0">@Model.Title</h4>
                <p class="card-text mb-0">
                    <small class="text-muted">@Model.Tagline</small>
                </p>
                <p class="card-text font-weight-bold d-inline mr-3">@Model.RunTime.ToString() m| @Model.ReleaseDate.Year.ToString()</p>
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge badge-pill badge-secondary m-2 text-center">
                        <small>@genre.Name</small>
                    </span>
                }
                <br>
                <span class="badge badge-success font-weight-bold">@Model.Rating.ToString("0.0")</span>
                <p ont-size="0.1em" class="card-text">@Model.Overview</p>
            </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <div class="btn btn-group-vertical p-2">
            <a href="#" class="btn btn-sm btn-dark border-white py-0 w-100 mb-3">
                <span class="glyphicon glyphicon-edit white" aria-hidden="true"></span>
                <small>REVIEW</small>
            </a>
                <a href="#" class="btn btn-sm btn-light py-0 w-100 mb-3">
                <small>PURCHASE MOVIE</small>
            </a>
                <a href="#" class="btn btn-sm btn-dark border-white py-0 w-100 mb-3">
                <small>WATCH MOVIE</small>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex flex-row py-3">
    <div class="col-md-4 d-flex flex-column p-0">
        <div class="card mb-4 border-0">
            <div class="card-header">
                MOVIE FACTS
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small>Release Date</small>
                    <div class="badge badge-pill badge-dark">@Model.ReleaseDate.ToString("MMMM dd, yyyy")</div>
                </li>
                <li class="list-group-item">
                    <small>Run Time</small>
                    <div class="badge badge-pill badge-dark">@Model.RunTime.ToString() m</div>
                </li>
                <li class="list-group-item">
                    <small>Box Office</small>
                    <div class="badge badge-pill badge-dark">$@Model.Revenue?.ToString("C0"))</div>
                </li>
                <li class="list-group-item">
                    <small>Budget</small>
                    <div class="badge badge-pill badge-dark">$@Model.Budget?.ToString("C0")</div>
                </li>
            </ul>
        </div>
        <div class="card border-0">
            <div class="card-header">
                TRAILERS
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var trailer in Model.Trailers)
                {
                    <li class="list-group-item">
                        <a href="@trailer.TrailerUrl">@trailer.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="card border-0">
            <div class="card-header">
                CAST
            </div>
            <table>
                <tbody class="border-bottom-0 p-2">
                @foreach (var cast in @Model.Casts)
                    {
                        <tr class="border-bottom">
                            <td class="col-3 text-center">
                                <img class="img-fluid d-inline rounded-circle m-3 profile-image" src="@cast.ProfilePath" alt="profile image">
                            </td>
                            <td class="col-4">@cast.Name</td>
                            <td class="col-4">@cast.Character</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>